@media (max-width: 1199px){
    .works_img_img{
        width: 250px;
        height: 250px;
    }
    /* pricing plan */
    .pricing_blok{
        width: 18rem;
        height: auto;
    }
    .p_info_text{
        font-size: 16px;
        padding: 7px 13px;
    }
    /* member sections */
    .m_b_blok{
        width: 17rem;
    }
    /* blog  */
    .blog_main_info{
        width: 55rem;
    }
    /* member  */
    .c_sfera{
        width: 5rem;
        height: 5rem;
        padding: 1rem;
    }
    .c_geo_text span{
        font-size: 18px;
    }
}

@media (max-width: 768px){
    .header{
        height: 8vh;
    }
    .logo span{
        font-size: 25px;
    }
    .menu a{
        font-size: 14px;
    }
    .main_btn a{
        margin: 0 1rem; 
    }
    /* pricing  */
    .pricing_blok{
        height: 20rem;
        width: 10rem;
    }
    .p_header h2{
        font-size: 18px;
    }
    .p_sum_sum{
        font-size: 30px;
    }
    .p_sum{
        margin: .5rem;
    }
    .p_sum sup{
        font-size: 20px;
    }
    .p_sum_text{
        font-size: 15px;
    }
    .p_info_text{
        width: 75%;
        padding: 5px 15px;
        font-size: 15px;
    }
    .p_btn{
        margin: 0.5rem;
    }
    .p_btn a{
        margin: 0.5rem;
        border: 1px solid #00897b;
        padding: 5px 15px;
        font-size: 14px;
    }
    /* member */
    .m_b_blok{
        width: 10rem;
        margin: 0.5rem;
    }
    .soc_icon{
        width: 2rem;
        height: 2rem;
        margin: .2rem;
        border-radius: .4rem;
        font-size: 15px;
    }
    .member_nav button{
        width: 10px;
        height: 16px;
        margin: .2rem;
    }
    /* blog */
    .blog_header{
        margin: 0 0 1rem 0;
    }
    .blog_main_info{
        width: 40rem;
    }
    .blog_main_info img{
        width: 44.5rem;
    }
}

@media (max-width: 480px){
    /* main  */
    .main_section{
        justify-content: space-between;
        height: 100vh;
    }
    .logo span{
        font-size: 20px;
    }
    .visible-lg {
        display: none;
    }
    .m-menu-link {
        display: block;
    }
    .menu{
        display: none;
    }
    .header_size a{
        font-size: 20px;
        color:#000;
    }
    .main_text h1{
        margin: 0.3rem;
        font-size: 35px;
    }
    .main_text p{
        margin: 0;
        font-size: 17px;
    }
    .main_btn a{
        margin: 0.5rem;
        padding: 10px 35px;
        font-size: 15px;
    }
    /* about */
    .about_section{
        height: auto;
    }
    .about_header p{
        width: 90%;
    }
    .about_blok_text{
        width: 40vh;
    }
    .blok{
        align-items:center;
        justify-content: center;
        flex-wrap: wrap;
    }
    /* services_header */
    .services_header p{
        width: 90%;
    }
    /* works_section */
    .works_section{
        padding: 2rem 0 1rem 0;
    }
    .works_header p{
        width: 90%;
    }
    .works_btn{
        position: relative;
        display: flex;
        justify-content: center;
        align-items:center;
        flex-wrap: wrap;
        padding: 0;
    }
    .works_img_text{
        margin: 1rem 0;
    }
    .works_img_img img{
        width: 18rem;
        padding: 1rem;
    }
    .works_btn_btn{
        margin: .3rem;
        width: 65%;
        justify-content: center;
    }
    .work_btn_footer{
        margin: 1rem;
    }
    /* pricing_section */
    .pricing_section{
        padding: 2rem 0 1rem 0;
    }
    .pricing_header p{
        width: 90%;
    }
    .pricing_blok{
        height: 35rem;
        width: 30rem;
        margin: 1rem;
    }
    .p_header h2{
        font-size: 35px;
    }
    .p_sum_sum{
        font-size: 50px;
    }
    .p_sum sup{
        font-size: 30px;
    }
    .p_sum_text{
        font-size: 20px;
    }
    .p_info_text{
        width: 70%;
        padding: 15px 25px;
        font-size: 20px;
    }
    .p_btn a{
        border: 3px solid #00897b;
        margin: 1rem;
        padding: 10px 25px;
        font-size: 17px;
    }
    /* member_section */
    .member_section{
        padding: 2rem 0 1rem 0;
    }
    .member_header p{
        width: 90%;
    }
    .m_b_blok{
        width: 40rem;
        margin: 1rem;
    }
    .soc_icon{
        width: 3rem;
        height: 3rem;
        margin: .7rem;
        font-size: 25px;
    }
    /* blog_section */
    .blog_section{
        padding: 2rem 0 1rem 0; 
    }
    .blog_header p{
        width: 90%;
    }
    .blog_main_info{
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items:center;
        width: 20rem;
    }
    .blog_main_info img{
        width: 20rem;
    }
    .blog_btn{
        margin: 0;
    }
    /* contact_sections */
    .contact_sections{
        padding: 2rem 0 1rem 0; 
    }
    .contact_header p{
        width: 90%;
    }
    .c_f_blok{
        position: relative;
        width: 20rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .c_s_blok>.input{
        display: flex;
        justify-content: center;
        align-items:center;
        flex-wrap: wrap;
    }
    .c_s_blok>.input input{
        width: 90%;
        margin: .5rem;
        padding: .8rem;
    }
    .c_s_blok>.textarea textarea{
        width: 90%;
    }
    .c_s_blok>.textarea{
        margin: .5rem 0;
        display: flex;
        justify-content: center;
    }
    .c_b_btn{
        justify-content: center;
    }
    .c_b_btn a{
        width: 50%;
    }
    .section_footer span{
        font-size: 12px;
    }  
}
