*, *:before, *:after{
    box-sizing: border-box;
}
/* main_section */
.main_section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    min-height: 600px;
    background: url(../img/header_img.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}

.main_overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .8;
    z-index: 0;
}
.header{
    position: relative;
    z-index: 2;
    background-color: #fff;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_size{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo span{
    font-size: 2rem;
    font-weight: 700;
}
.menu{
    width: 60%;
}
.menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.menu>ul>li>a:hover{
color:#00897b;
}
.nav_link{
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.3s;
}
.search_img{
    width: 80%;  
}
.main_text{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: #fff;
}
.main_text h1{
    margin: 0.5rem;
    font-size: 50px;
}
.main_text p{
   margin: 0;
    font-size: 22px;
}
.main_btn{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
.main_btn a{
    margin: 1rem;
    padding: 15px 45px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.main_btn a:hover{
    text-decoration: underline;
}
.btn_services{
    border: 3px solid #fff;
}
.btn_hire_is_now{
    border: 3px solid #00897b;
    background-color: #00897b;
}
.main_arrow{
    height: 9vh;
    z-index: 2;
}
.arrow_down a{
    color:#fff;
    font-size: 2rem;
    transition: 0.3s;
}
.arrow_down a:hover{
    color:#00897b;
}

/* about_section */
  .about_section{
      position: relative;
      background-color: #fff;
      height: 60vh;
      min-height: 450px;
  }
  .about_header{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 13rem;
  }
  .about_header h1{
      margin: 0;
  }
  .about_header p{
      width: 50%;
      text-align: center;
  }
  .about_blok{
      position: relative;
      display: flex;
     justify-content: center;
  }
  .blok{
      position: relative;
      width: 60rem;
      display: flex;
      justify-content: space-around;
  }
.about_blok_text{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 30vh;
}
.about_blok_text img{
    margin: 1rem;
    width: auto;
    height: 50px;
}
.about_blok_text span{
    font-size: 1rem;
    font-weight: 600;
}
/* services_section */
.services_section{
    position: relative;
    height: auto;
    min-height: 600px;
    background-color: #e4fdf9;
    padding: 4rem 0 5rem 0;
}
.services_header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    text-align: center;
}
.services_header h1{
    margin: 0;
}
.services_header p {
    width: 50%;
}
.services_main_blok{
    position: relative;
    display: flex;
    justify-content: center;
    width:100%;
}
.services_blok{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    width: 70rem;
}
.services_blok_info{
    text-align: center;
    position: relative;
   width: 300px;
   height: 350px;
   margin: 1rem;
   background-color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   transition: 0.3s;
}

.services_blok_info:hover{
    background-color: #00897b;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
    color:#fff;
}
.services_blok_info:hover a{
    background-color: #00897b;
    cursor: pointer;
    color:#fff;
    border-color: #fff;
}
.services_blok_info a:hover{
    text-decoration: underline;
}
.services_blok_info h2{
    font-weight: 500;
    margin: 0;
}
.services_blok_info a{
    border: 2px solid #000;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    transition: 0.3s;
}

.services_blok_info img{
    margin: 1rem;
}

/* works_section */
.works_section{
    position: relative;
    height: auto;
    min-height: 600px;
    padding: 4rem 0 5rem 0;
    background-color: #fff;
}
.works_header{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.works_header h1{
    margin: 0;
}
.works_header p{
    width: 50%;
}
.works_btn{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}
.works_btn_btn{
  text-transform: uppercase; 
  text-decoration: none; 
  display: flex;
  border: 2px solid #00897b;
  margin: 1rem;
  color: #000;
  font-weight: 600;
  padding: 10px 25px;
  font-size: 17px;
}
.works_btn_btn:hover{
    color: #fff;
    background-color: #00897b;
    text-decoration: underline;
}
.works_btn_btn_activ{
    color: #fff;
    background-color: #00897b;
}
.works_blok_img{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 4rem;
}
.works_img_img{
    width: 300px;
    height: 300px;
    margin: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.works_img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70rem;
}
.works_img_text{
    position:absolute;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background:rgba(0, 0, 0, 0.7);
    transition: opacity 0.6s;
    opacity: 0;
    width: 100%;
    height: 100%;

}
.works_img_img:hover .works_img_text{
    position:absolute;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    opacity: 1;
    
}
.works_img_text span{
    font-size: 18px;
    font-weight: 600;
}
.works_img_text p{
    margin: 0;
}
.work_btn_footer{
    position: relative;
    display: flex;
    justify-content:center;
    margin: 2rem;
}
/* pricing_section */
.pricing_section{
    position: relative;
    height: auto;
    min-height: 600px;
    padding: 4rem 0 5rem 0;
    background-color:#f0f1f1;
}
.pricing_header{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.pricing_header h1{
 margin: 0;
}
.pricing_header p{
    width: 50%;
}
.pricing_main_blok{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pricing_blok{
    background-color: #fff;
    position: relative;
    text-align: center;
    height: 30rem;
    width: 20rem;
    margin: 1rem;
   transition: 0.2s;
}

.pricing_blok:hover{
    box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}
.pricing_blok:hover .p_btn a{
    background-color:#00897b;
    color:#fff;
    cursor: pointer;
}

.p_h_blok{
    position: relative;
    height: 40%;
}
.p_header{
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff; 
    background: url(../img/svg/pricing_fon.svg) no-repeat center;
    background-size: cover;
    padding: 1rem 0;
}
.p_header h2{
    font-size: 25px;
    margin: 0;
}
.p_sum_sum{
    font-size: 50px;
    font-weight: 600;
}
.p_sum{
    margin: 1rem;
}
.p_sum sup{
    font-size: 25px;
}
.p_sum_text{
    font-size: 17px;
}
.p_info{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.p_info_text{
    width: 40%;
    padding: 10px 20px;
    color: #474747;
    border-bottom: 1px solid #bfbfbf;
    font-size: 17px;
}
.p_btn{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.p_btn a{
    text-transform: uppercase; 
  text-decoration: none; 
  display: flex;
  border: 2px solid #00897b;
  margin: 1rem;
  color: #000;
  font-weight: 600;
  padding: 10px 25px;
  font-size: 17px;
  transition: 0.2s;
}
/* member_section */
.member_section{
    height: auto;
    min-height: 600px;
    padding: 4rem 0 5rem 0;
    background-color: #fff;
}
.member_header{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.member_header h1{
    margin: 0;
}
.member_header p{
    width: 50%;
}
.member_main_blok{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.m_b_blok{
    width: 20rem;
    margin: 1rem;
}
.m_b_blok img{
    width: 100%;
    border-radius: 5px;
}
.m_b_b_text{
    text-align: center;
    padding: .5rem;
}
.m_b_blok h2{
 margin: 0;
 font-size: 20px;   
}
.m_soc_blok{
    position: relative;
    display: flex;
    justify-content: center;
}
.soc_icon{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: .7rem;
    background-color: #f0f1f1;
    color: #00897b;
    border-radius: .4rem;
    text-decoration:none;
    font-size: 20px;
    transition: 0.3s;
}

.soc_icon:hover{
    background-color:#3949ab;
    color:#fff;
}
.member_nav{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.member_nav button{
    background-color: #00897b;
    width: 1rem;
    height: 1rem;
    border:none;
    outline: none;
    margin: .3rem;
    border-radius:50%;
}
.member_nav>.m_n_activ{
    background-color:#3949ab;
}
/* blog section */
.blog_section{
    position: relative;
    height: auto;
    min-height: 600px;
    padding: 4rem 0 5rem 0;
    background-color: #e4fdf9;

}
.blog_header{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 0 5rem 0;
}
.blog_header h1{
    margin: 0;
}
.blog_header p{
    width: 50%;
}
.blog_main{
    position: relative;
    display: flex;
    justify-content: center;
}
.blog_main_info{
    position: relative;
    display: flex;
    justify-content: center;
    width: 65rem;
}
.blog_main_info img{
    position: relative;
    width: 44.5rem;
}
.blog_text{
    padding: 1rem;
}
.blog_text a{
    font-size: 22px;
    margin: 1.5rem 0 .5rem 0;
    transition: 0.3s;
    text-decoration: none;
    color:#000;
    font-weight: 600;
}
.blog_text a:hover{
    color:#00897b;
}
.b_t_info {
    position: relative;
    display: flex;
    width: 10rem;
    justify-content: space-between;
}
.b_t_info span{
    margin: .5rem 0;
    font-size: 12px;
    font-weight: 600;
}
.blog_text p{
    margin: .5rem 0;
}
.rev{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.blog_btn{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 4rem 0 0 0;
}
.blog_btn a{
    padding: .5rem 2rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #00897b;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 25px;
    font-size: 17px;
}
.blog_btn a:hover{
    text-decoration: underline;
}
/* contact_sections */
.contact_sections{
    height: auto;
    min-height: 600px;
    position: relative;
    padding: 4rem 0 5rem 0;
    background: url(../img/rawpixel.jpg) no-repeat center;
    background-size: cover;
}
.contact_overlame{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 80%;
    z-index: 0;
}
.contact_header{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 0 2rem 0;
    color:#fff;
    z-index: 2;
}
.contact_header h1{
    margin: 0;
}
.contact_header p{
    width: 50%;
}
.contact_s_blok{
    position: relative;
    z-index: 2;
    color: #fff;
}
.contacts_info{
    position: relative;
    display: flex;
    justify-content: center;
}
.c_f_blok{
    position: relative;
    width: 40rem;
    display: flex;
    justify-content: space-between;
}
.c_geo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 40rem;
}
.c_sfera{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 6rem;
    height: 6rem;
    background-color:#3949ab;
    border-radius:50%;
    padding: 1rem;
}
.c_geo_text{
    margin: 1rem;
}

.c_geo_text span{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
}
.contact_send{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 1rem 0 0 0;
}
.c_s_blok{
    width: 40rem;
}
.c_s_blok>.input{
display: flex;
justify-content: space-between;
}
.c_s_blok>.input input{
    width: 49%;
    height: 3rem;
    border-radius: .4rem;
    border: none;
    padding: .8rem;
}
.c_s_blok>.textarea{
    margin: 1rem 0;
}
.c_s_blok>.textarea textarea{
    width: 100%;
    height: 10rem;
    border-radius: .4rem;
    padding: .8rem;
    border:none;
}
.contacts_btn{
    position: relative;
    display: flex;
    justify-content: center;
}
.c_b_btn{
    width: 40rem;
    position: relative;
    display: flex;
    justify-content: end;
}
.c_b_btn a{
    width: 8rem;
    height: 3rem;
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items:center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color:#000;
    font-weight: 600;
    border-radius: .4rem;
}
.c_b_btn a:hover{
    background-color:#3949ab;
    color:#fff;
}
/* footer */
.section_footer{
    height: 3rem;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
}
.section_footer span{
    font-weight: 600;
}
/* mobil menu */

.m-menu{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
    height: 100vh;
    width: 100%;
    background-color: rgb(49, 49, 49); 
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
    transition: 0.3s;
    transform: translateX(-100%)
}
.m-menu ul{
    list-style: none;
    font-size: 2rem;
    line-height: 4rem;
}
.m-menu>ul>li a{
    color:#fff;
}
.m-menu-link{
    display: none;
	right: 0;
	top: 0;
}
.m-menu_activ {
	transform: translateX(0%);
}

.close-menu{
    position: fixed;
    top: 1rem;
    right: 3rem;
    color:rgb(223, 11, 11);
    cursor: pointer;
}